    body { 
        font-family: Arial, sans-serif; 
        margin: 0; 
        padding: 0; 
        background-image: linear-gradient(to bottom right,  white,gray); 
        }
    nav { 
        background-image: linear-gradient(to right, blue ,  black);; 
        color: #fff; 
        padding: 15px 25px; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        }
    nav .logo { 
        font-size: 40px; 
        font-weight: bold; 
        font-family: "Barrio", system-ui;
        font-weight: 400;
        }
    nav ul { 
        list-style: none; 
        display: flex; 
        gap: 20px; 
        }
    nav ul li { 
        display: inline;
        }
    nav ul li a { 
        color: #fff; 
        text-decoration: none; 
        font-size: 16px; 
        }

    .container { 
            padding: 30px; 
            display: grid; 
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
            gap: 20px; 
        }
    .card { 
            background: #fff;
            padding: 15px; 
            border-radius: 8px; 
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
        }
    .card img { 
            width: 100%; height: 180px; object-fit: contain; 
    }
    .card h3 {
             margin: 10px 0; 
             font-size: 18px;
    }
    .card p { 
            font-size: 14px; 
            color: #555; 
    }
    .price { 
            font-size: 17px; 
            font-weight: bold; 
            margin-top: 5px; 
    }

    footer { 
            background: #111; 
            color: #fff; 
            padding: 20px; 
            text-align: center; 
            margin-top: 30px; 
    }
    